.DS_Store
.ct_dialyzer.plt
erl_crash.dump
deps/gpio/priv/gpio_drv.so
log/*
apps/*/ebin/*
apps/*/logs/*
apps/*/test/*.beam
ct_test/*
.eunit/
rel/horst/*
deps/*/ebin
src/*~
include/*~
log/*
deps/*
backup/*
variables-*
Mnesia.e*
_rel
