{sub_dirs, [
            "apps/erlything",
            "apps/horst",
            "apps/leni",
            "apps/cuberl",
            "apps/moni",
            "apps/sue",
            "apps/roni"
           ]}.
{lib_dirs, ["apps", "deps"]}.
{erl_opts,[debug_info,
           {parse_transform, lager_transform},
           {src_dirs, ["src"]}
          ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [
	{lager, ".*", {git, "git@github.com:basho/lager.git", "master"}},
	{lager_syslog, ".*", {git, "git@github.com:basho/lager_syslog.git", "master"}},
	{gpio, ".*", {git, "git@github.com:ulfa/gpio.git", "master"}},
	{gen_smtpc, ".*", {git, "git@github.com:0xAX/gen_smtpc.git", "master"}},
	{erlcron, ".*", {git, "git@github.com:erlware/erlcron.git", "master"}},
  {reloader, ".*", {git, "git@github.com:ulfa/reloader.git", "master"}},
  {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlydtl, ".*", {git, "git@github.com:ulfa/erlydtl.git", "HEAD"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "HEAD"}}},
  {erlib, ".*", {git, "git@github.com:ulfa/erlib.git", "HEAD"}},
  {erlbuild, ".*", {git, "git@github.com:ulfa/erlbuild.git", "HEAD"}},
  {emqttc, ".*", {git, "git@github.com:ulfa/emqttc.git", "HEAD"}},
  {meck, ".*", {git,"git@github.com:eproxus/meck.git", "HEAD"}},
  {eper, ".*", {git,"git@github.com:massemanet/eper.git", "HEAD"}}
  ]}.
%% Build a release when compiling
{post_hooks,[{compile, "./relx"}]}.
