{sub_dirs, [
            "apps/horst",
            "rel"
           ]}.
{erl_opts,[{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
	{lager, ".*", {git, "git@github.com:basho/lager.git", "master"}},
	{lager_syslog, ".*", {git, "git@github.com:basho/lager_syslog.git", "master"}},
	{gpio, ".*", {git, "git@github.com:ulfa/gpio.git", "master"}},
	{sue, "0.2.*", {git, "git@github.com:ulfa/sue.git", "master"}},
	{gen_smtpc, ".*", {git, "git@github.com:0xAX/gen_smtpc.git", "master"}},
	{erlcron, ".*", {git, "git@github.com:erlware/erlcron.git", "master"}},
  {reloader, ".*", {git, "git@github.com:ulfa/reloader.git", "master"}},
  {leni, ".*", {git, "git@github.com:ulfa/leni.git", "master"}}
  ]}.
