{lib_dirs, ["apps", "deps"]}.
%% comment this line for a release that ships its own Erlang VM
{include_erts, true}.
%% uncomment this line to ship a release without the source code included
% {include_src, false}.

{overlay, [
    {mkdir, "log"},
    {mkdir, "etc"},
    {copy, "rel/vm.args", "releases/{{release_version}}/vm.args"},
    {copy, "erlything.config", "etc/erlything.config"}
]}.

{release, {erlything, "0.1.0"},
 %% list of apps to include
 [erlything, horst, sue, leni, moni, cuberl, gpio, 
 erlydtl, erlcron, emqttc, appmon, erlib, reloader]}.