{erl_opts,[{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{erlydtl_opts, [{module_ext, "_dtl"}]}.
{deps, [
	{erlib, ".*", {git, "git@github.com:ulfa/erlib.git", "HEAD"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "HEAD"}}},
	{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", "HEAD"}},
    {erlbuild, ".*", {git, "git@github.com:ulfa/erlbuild.git", "master"}}
  ]}.
