%% Message configuration
%% Module, [{Node, Sensor, Id}]
%%

{dht22_display_driver, [{<<"horst@raspberrypi">>,<<"dht22_sensor">>, <<"0">>}]}.
{transmitter_433_driver, [{<<"leni@ua-TA880GB">>,<<"transmitter_433_resource">>,<<"0">>}]}.

{dht22_actor, [{<<"horst@raspberrypi">>,<<"dht22_sensor">>, <<"0">>}]}.%% alt
{seven_eleven_actor, [{<<"horst@ronja">>,<<"hc_sr501_sensor">>, <<"0">>},
					  {<<"leni@raspberrypi">>, <<"webinterface">>, <<"0">>}]}.
{transmitter_433_actor, [{<<"leni@raspberrypi">>, <<"webinterface">>, <<"0">>}]}.