%% Message configuration
%%
%% In this config file you have to configure the messages which the 
%% driver understand. 
%%
%% Format
%%
%% {Driver, [{Node, Source, Id}]} 
%%

{dht22_display_driver, [{<<"horst@raspberrypi">>,<<"dht22_driver">>, <<"1">>}]}.
{transmitter_433_driver, [{<<"leni@ua-TA880GB">>,<<"transmitter_433_resource">>,<<"0">>},{<<"leni@raspberrypi">>,<<"transmitter_433_resource">>,<<"0">>}]}.

{seven_eleven_driver, [{<<"horst@raspberrypi">>,<<"hc_sr501_driver">>, <<"0">>},{<<"leni@ua-TA880GB">>,<<"seven_eleven_resource">>,<<"0">>},{<<"leni@raspberrypi">>,<<"seven_eleven_resource">>,<<"0">>}]}.

{usb_cam_driver, [{<<"horst@raspberrypi">>,<<"hc_sr501_driver">>,<<"0">>}]}.

{mail_client_driver, [{<<"horst@raspberrypi">>,<<"hc_sr501_driver">>,<<"0">>}]}.