[[{thing,"Switches office",
         [{type,actor},
          {driver,transmitter_433_driver,[{"Ventilator",1},{"Licht",2}]},
          {activ,true},
          {description,"Switches in my office"}]},
  {thing,"MMM",
         [{type,actor},
          {driver,transmitter_433_driver,[{"Ventilator",1},{"Licht",2}]},
          {activ,true},
          {description,"mm"}]}]].
