{thing, "Temperatur_Sensor",
	[
	{type, sensor}, 
	{driver, {dht22_driver, call_sensor}, []}, 
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Temp sensor in my office"}
	]}.
{thing, "Temperatur_Anzeige",
	[
	{type, actor}, 
	{driver, {dht22_display_driver, handle_msg}, [{data, []}]}, 
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Temp sensor in my office"}
	]}.

{thing, "Bewegung",
	[ 
	{type, sensor},
	{driver, {hc_sr501_driver, call_sensor}, []}, 
	{activ, true},  
	{timer, 0},
	{database, []},
	{description, "Motion sensor in my office"}
	]}.
{thing, "Klingel", 
	[
	{type, actor}, 
	{driver, {seven_eleven_driver, handle_msg}, []}, 
	{activ, true},  
	{timer, 0},
	{database, []},
	{description, "7-11 bell"}
	]}.

{thing, "Switches_office", 
	[
	{type, actor}, 
	{driver, {transmitter_433_driver, handle_msg}, [{"Ventilator", "1", "0"}, {"Licht", "2", "0"}]},
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Switches in my office"}
	]}.


