{thing, "Temperatur_Sensor",
	[
	{type, sensor}, 
	{driver, {dht22_driver, call_sensor}, []}, 
	{activ, false},
	{timer, 0},
	{database, []},
	{description, "Temp sensor in my office"}
	]}.
{thing, "Temperatur_Anzeige",
	[
	{type, actor}, 
	{driver, {dht22_display_driver, handle_msg}, [{data, []}]}, 
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Temp sensor in my office"}
	]}.

{thing, "Bewegung",
	[ 
	{type, sensor},
	{driver, {hc_sr501_driver, call_sensor}, [{init, true, [{pin, 7}, {int_type, both}]}, {last_changed, 0}]}, 
	{activ, false},  
	{timer, 0},
	{database, []},
	{description, "Motion sensor in my office"}
	]}.
{thing, "Klingel", 
	[
	{type, actor}, 
	{driver, {seven_eleven_driver, handle_msg}, []}, 
	{activ, false},  
	{timer, 0},
	{database, []},
	{description, "7-11 bell"}
	]}.
{thing, "Switches_office", 
	[
	{type, actor}, 
	{driver, {transmitter_433_driver, handle_msg}, [{"Ventilator", "11111 1", "0"}, {"Licht", "11111 2", "0"}]},
	{activ, false},
	{timer, 0},
	{database, []},
	{description, "Switches in my office"}
	]}.
{thing, "Cam_office", 
	[
	{type, actor}, 
	{driver, {usb_cam_driver, handle_msg}, [{path, "/home/pi/photos"}, {last_shot, 0}]},
	{activ, false},
	{timer, 0},
	{database, []},
	{description, "USB cam in my office"}
	]}.
{thing, "Mail_Client", 
	[
	{type, actor}, 
	{driver, {mail_client_driver, handle_msg}, [{init, true, [{options, [{use_ssl, true}, {host, "smtp.gmail.com"}, {port, 465}]}, {sender, "Sender"}, {password, "Password"}, {to, "To"}]}]},
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Mail Client for sending notification."}
	]}.
{thing, "Message_Logger",
	[
	{type, actor}, 
	{driver, {message_counter_driver, handle_msg}, [{data, []}, {counter, 0}]}, 
	{activ, true},
	{timer, 0},
	{database, []},
	{description, "Stores the last 20 messages and counts all messages"}
	]}.