{thing, "Temperatur",
	[
	{type, sensor}, 
	{driver, dht22_driver, []}, 
	{activ, true},
	{description, "Temp sensor in my office"}
	]}.
{thing, "Bewegung",
	[ 
	{type, sensor},
	{driver, hc_sr501_driver, []}, 
	{activ, true},  
	{description, "Motion sensor in my office"}
	]}.
{thing, "Klingel", 
	[
	{type, actor}, 
	{driver, seven_eleven_driver, []}, 
	{activ, true},  
	{description, "7-11 bell"}
	]}.

{thing, "Switches_office", 
	[
	{type, actor}, 
	{driver, transmitter_433_driver, [{"Ventilator", 1}, {"Licht", 2}]},
	{activ, true},
	{description, "Switches in my office"}
	]}.


