[
{sasl, [{sasl_error_logger, false}]},
{roni, [{peers, ["127.0.0.1", "192.168.178.28", "192.168.178.38", "192.168.178.30", "192.168.178.33"]}]},
{horst, [        
        {backup_path, "backup"},
        {boxcar,"NmEAW2euRjuUGesV58n"}
        ]},
{leni, [{port, 8080}]},
{moni, [{port, 8000}]},
{cuberl,[
	{port, 62910},
  	{ip, {192,168,178,21}}
]},
{lager, [
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [{file, "log/error.log"}, {level, error}]},
		{lager_file_backend, [{file, "log/console.log"}, {level, info}]},
		{lager_file_backend, [{file, "log/console.log"}, {level, warning}]}
		] }
	]}
].