.scroller {  
    height: 400px !important;
    overflow: scroll;
}​

#table{
 border-collapse:separate !important;
}
.google-visualization-orgchart-table
{
    border-collapse:separate !important;
}
.spacer {
    margin-top: 40px; /* define margin as you see fit */
}